  
  
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  
:root{
    --cor0:#F2E8B3;
    --cor1:#D9B166;
    --cor2:#8C5F27;
    --cor3:#40341E;
    --cor4:#0D0D0D;
    --gradient: var(--cor4), var(--cor2), var(--cor0), var(--cor2), var(--cor4);
    --gold: 
        150deg,
        #9a5916 10%,
        #ffffff 10%,
        #e4b04d 18%,
        #fff1a3 22%,
        #e7b14f 30%,
        #ae6f27 38%,
        #f8c65d 50%;
    --fonteDoLogo:'Playfair Display', serif;
    --fonteMenu:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*Comando que retira as barras de rolagem*/
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    font-family: var(--fonteMenu);
    width: 100vw;
    height: 100vh;
}
body{
    background-color:var(--cor4);
    
}

#links{
    display: none;
}
menu{
    background-color: var(--cor4);
}

#logo{
    display: block;
    margin: auto;
}
#burger{
    padding: 5px;
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 2em;
    background: linear-gradient(var(--gold));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

menu > ul > li{
    display: block;
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.214);
    background: linear-gradient(var(--gold));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
menu > ul > li:hover{
    text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.284);
    transform: translate(-3px, -3px);
    transition: 0.3s;
}


/*-------------------------------------------------------*/
main{
    width: 100vw;
}

main > div{
}



.carrousel{
    display: block;
    width: 95vw;
    margin: auto;
    overflow: hidden;
    position: relative;
}


.carrouselTrack > img{
    width: 100vw;
    margin-left: -0%;

}

.container{
    display: flex;
}

/*----Definições dos botoes-----*/

.buttons{
    width: 100%;
    height: 100%;
    position: absolute;

}

.buttonsHeight{
    cursor: pointer;
    font-size: 3em;
    background: linear-gradient(var(--gold));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.arrowLeft{
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
}

.arrowRight{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    
}

.arrowLeft:hover, .arrowRight:hover{
    font-size: 2.3em;
    transition: 0.2s;
}

/*----Check buttons---*/

}
.checkButton{
    position: absolute;
    bottom: 2%;
}


.buttonSel{
    position: absolute;
    background: linear-gradient(var(--gold));
    border-radius: 50%;
}